.chip {
    margin: 5px 5px 5px 0px;
}

.subtitle{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.spacing{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
