.formControl{
    margin: 16px 16px 30px;
    min-width: 120px;
}

.selectEmpty{
    margin-top: 16px;
}

.loading{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 25px;
}

.mb-30{
    margin-bottom: 30px;
}

.list{
    height: 75vh;
    overflow: auto;
}